    {{> head }}
    {{> navbar }}

    <div class="row">
        <div class="col-8"></div>
        <h1>   Deja de soñar y comienza a actuar</h1>
        <p>   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ea aliquid nemo qui placeat ipsum nostrum fuga maxime tempore voluptate saepe eligendi aperiam excepturi velit, laudantium perferendis ad dolores in.</p>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <img src="assets/img/Hinata.jpg" class="img-thumbnail">
    </div>

    {{> footer}}